{% extends 'base.html' %}

{% block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Blog Post</h1>
        </div>
      </div>
    </div>
  </section>
<!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
            <li class="breadcrumb-item active"> <a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active"> {{ post.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
    <div class="container">
          <div class="col-md-12">
              <div align="center" class="card flex-md-row mb-4 box-shadow h-md-250">
                      <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            {{ post.title }}
                        </h3>
                          <div class="mb-1 text-muted">{{ post.post_date}} |<a href="{% url 'postedit' post.pk %}"> Edit </a>|<a href="{% url 'postdelete' post.pk %}"> Delete</a></div>
                        <p class="card-text-justify">{{ post.body | linebreaks}}</p>
                      </div>
      <!--                <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="{{ post.photo_main.url }}" data-holder-rendered="true">-->
              </div>
          </div>
      </div>
</section>
{% endblock %}